* {
  font-family: inter, sans-serif;
}

h1 {
  margin: 0;
}

body {
  margin: 0;
}

.pokemon--container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.pokemon--card {
  width: 250px;
  border-radius: 12%;
  border: 1px solid black;
}

.pokemon--card--content {
  padding: 1em;
}

.pokemon--card--header {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.pokemon--card--header > h4 {
  text-transform: capitalize;
  margin: 5px 0;
}

.pokemon--card--details {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 12px;
}

.pokemon--card--types--title {
  display: flex;
  flex-direction: row;
}

.pokemon--card--types--title > span {
  margin-right: auto;
}

.navbar--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em;
  border-bottom: 1px solid black;
  margin-bottom: 1em;
}

.navbar--container > h1 {
  margin-right: auto;
}

.navbar--search {
  display: flex;
  gap: 0.5em;
}
